/*@font-face */
/*{*/
/*    font-family: Avenir;*/
/*    src: url(“/QwkPass/fonts/AvenirNext.otf”) format(“opentype”);*/
/*}*/

body {

    background-image: url("https://raw.githubusercontent.com/jbajaj12/QwkPass/master/images/account_background.png");
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    diplay:block;
    font-family: "Avenir", serif;
    font-weight: normal;
    color: white;
    font-size:  40px;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.button {
    background-color: #DFFFFF;
    border: none;
    border-radius: 12px;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; 
    cursor: pointer;
    left: 0;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 25%;
    float: center;
}

.button:hover {
    background-color: #44B2C3;
    color: floralwhite;
}

.setup{
	text-align: center;
}

