body {
     background-size: cover;
   	background-image: linear-gradient(-90deg, #10447F, #256774);
   	display: flex;
}

.Logo h1 {
    color: floralwhite;
    text-align: center;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: none;
}

.Account{
    display: inline-block;
    margin-left: 5%;
}

.Account_info {
  margin-right: 100px;
  margin-bottom: 10px;
  float: left;
  
   border: 2px black;
    width: 270px;
    height: 260px;
    background-color:white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}


.Billing {
   margin-right: 100px;
   margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  
   border: 2px black;
    width: 250px;
    height: 250px;
    background-color:white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.Help {
   margin-right: 100px;
   margin-bottom: 10px;
   padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  
   border: 2px black;
    width: 250px;
    height: 250px;
    background-color:white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.Trip {
   margin-right: 100px;
   margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  
   border: 2px black;
    width: 250px;
    height: 250px;
    background-color:white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.button {
    /*display: inline-block;*/
    background-color: #A0D8E0;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}











/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}