/*@font-face */
/*{*/
/*    font-family: Avenir;*/
/*    src: url(“/QwkPass/fonts/AvenirNext.otf”) format(“opentype”);*/
/*}*/

body {

    /*background-image: url("https://raw.githubusercontent.com/jbajaj12/QwkPass/master/images/account_background.png");*/
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(16, 115, 178)
}

.floatbox{
    /*background: #102429;*/
    background: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
    color: #999;
    font-size: 13px;
    line-height: 1.4em;
    width: 480px;
    left: 37.5%;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 40%;
    border-radius: 12px;
}


.header {
    diplay: block;
    font-family: "Avenir", serif;
    font-weight: normal;
    color: dodgerblue;
    font-size: 40px;
}

.button {
    display: inline-block;
    background-color: rgb(16, 115, 178);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #44B2C3;
    color: floralwhite;
}

.setup{
	text-align: center;
}

.Logo h1{
    color: floralwhite;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

a {
    color: none;
    text-decoration: none;
}

#SignUp {
    padding-bottom: 20px;
}

