
@font-face 
{
    font-family: Avenir;
    src: url(“/QwkPass/fonts/AvenirNext.otf”) format(“opentype”);
}

body {
	font-family: 'Avenir', serif;
	margin:0;
	padding:0;
	font-size:100%;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color:dodgerblue;
    overflow: hidden;
    text-align: center;
    height: 70px;
}
ul {
    list-style-type: none;
}
.nav a {
    font-family: 'Avenir', serif;
    float: left;
    color: floralwhite;
    padding-right: 100px;
    text-decoration: none;
}
.nav_text{
     padding-top: 20px;
     font-weight: bold;   
    align-items: center;
}

.nav li {
    display:inline;
}

.features{
    background-color: aliceblue;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
    
}

.smoothScroll {
  text-decoration: none;
  font-family: Segoe UI;
}

.how{
  background-color: #C6DEFF;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 50px;    
}

.pricing{
  background-color: aliceblue;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 50px;    
}

.setup{
    background-color: #C6DEFF;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 150px;    
}

.container {
    padding-top: 50px;
    text-align:justify;    
}

.footer{
    background-color: dodgerblue;
    color: floralwhite;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 50px; 
}

#foothead{
    display: inline-block;
    padding-right: 40px;
}
#logo {
    max-width: 100%;
    display: inline-block;
    float: left;
    
}