body {
	font-family: Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
}

.slicknav_menu {
	display:none;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color:dodgerblue;
    overflow: hidden;
}
ul {
    list-style-type: none;
}
.nav a {
    font-family:sans-serif;
    float: left;
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 12px;
}

#logo {
    width: 100px;
    height: 100px;
}
@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}