/*-----------------------------------General Page ----------------------------------------*/
body {
	margin:0;
	padding:0;
	font-size: 20px;
	font-weight: 400;
}

/*-----------------------------------Navigation----------------------------------------*/
.smoothScroll {
  text-decoration: none;
   
}

header.smaller #logo{
   display: none !important;
}

header.smaller {
     
	height:50px;
	font-size: smaller;
	opacity: .9;
}

header.smaller a{
 
line-height: 30px;
color:floralwhite;
}
header {
     
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    /*background-color: #001f3f;*/
    background-image: linear-gradient(-90deg, #10447F, #256774);
	
	height: 875px;
    overflow: hidden;
    text-align: center;
    height: 0;
    width:100%;
    
    
    -webkit-transition: height 1.0s;
    -moz-transition: height 1.0s;
    -ms-transition: height 1.0s;
    -o-transition: height 1.0s;
    transition: height 1.0s;
}

header a {
	 
	color: transparent;
	padding-right: 100px;
	text-decoration: none;
	
	 -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -ms-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}
header {
	font-weight: bold;   
    align-items: center;
     
    opacity: 0.5;
}


header li {
    display:inline;
}

header #logo {
    max-width: 100%;
    display: inline-block;
    float: center;
    height: auto;
    font-size: 25px;
    color: floralwhite;
    /*padding-left: 50px;*/
    
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -ms-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

.hero {
	background-image: url("https://raw.githubusercontent.com/jbajaj12/QwkPass/master/images/back.jpg");
	height: 50%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;	
	padding-top: 300px;
	padding-bottom: 575px;
	font-size-adjust: 50px;
}

/*-----------------------------------Features ----------------------------------------*/
.features{
	background-color: #DFFFFF;
	/*background-image: url("https://github.com/jbajaj12/QwkPass/blob/master/images/GoogleMap.jpg");*/
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 50px;
	padding-bottom: 150px;
	height: 875px;
}
#features-intro{
	 
	text-align: center;
	margin-right: 350px;
	margin-left: 350px;
	color: #FFFFFF;
	font-size: 20px;
}

.body_imgs{
    float: center;
    box-shadow: 0px 0px 55px 6px #001f3f;
}

#sub-features{
	padding-bottom: 30px;
	color:black;
	font-style: oblique
}
#features-bullets{
text-align: center;
font-size: large;
height: auto;
margin-top: 40px;
color: #001f3f;
}

#features_body{
	font-size: medium;
	color: black;
}

.features{
	color: #001f3f;
}




/*-----------------------------------How it Work ----------------------------------------*/
.how{
    background-image: linear-gradient(-90deg, #FFFFFF, #42B1C2);
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 50px;
	padding-bottom: 150px;
	height: 875px;
}

#how_content{
    height: auto;
    display: block;
    padding-top: 80px;
    text-align: center;
}

#steps{
    text-align: left;
    color: #888B8D;
}

#steps b{
    font-size: 30px;
    
}

#step1img{
	float: left;
	padding-left: 10%;
}

/*-----------------------------------Pricing ----------------------------------------*/
.pricing{
	background-color: #DFFFFF;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 50px;
	padding-bottom: 150px;
	text-align: center;
	height: 875px;
}

.PricingHeader{
	color: #001f3f;
}
.pricing-list{
	padding-top: 30px;
	margin-bottom: 500px;
}
.pricing-box-1 {
	background-color: #A0D8E0;
	border-radius: 15px 50px;
	opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
	float: left;
	display: inline-block;
	width: 23%;
	margin-left: 150px;
	margin-right: 50px;
}

#pricing-box-1-content {
	border-top: 1px dotted #3B445B;
    border-bottom: 1px dotted #3B445B;
    padding: 34px 0 20px;
    margin: 4px 0 18px;
}

#pricing-box-1-content ul{
    text-align: left;
}
#pricing-box-1-content li{
	padding-bottom: 15px;
	list-style-image: url(images/pb.svg);
	font-size: 16px;
}

.pricing-box-2 {
	background-color: #A0D8E0;
	border-radius: 15px 50px;
	opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
	float: left;
	display: inline-block;
	width: 23%;
	margin-right: 50px;
}

.pricing-box-3 {
	background-color: #A0D8E0;
	border-radius: 15px 50px;
	opacity: 0.8;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
	float: left;
	display: inline-block;
	width: 23%;
}

.button {
    background-color: #DFFFFF;
    border: none;
    border-radius: 12px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #44B2C3;
    color: floralwhite;
}

/*-----------------------------------Get Started ----------------------------------------*/
.setup{
    /*background-image: linear-gradient(-90deg, #FFFFFF, #42B1C2);*/
    background-image: url("https://raw.githubusercontent.com/jbajaj12/QwkPass/master/images/metro-1209556_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 50px;
	padding-bottom: 150px;
	text-align: center;
	height: 875px;
}

.container {
	text-align: center;
}

.buttongetstarted{
  border-radius: 4px;
  background-color: #44B2C3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  -webkit-margin-before: 10em;
	
}

.buttongetstarted span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

  
}

.buttongetstarted span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttongetstarted:hover {
	background-color: #FDB82C;
}

.buttongetstarted:hover span {
  padding-right: 25px;
}

.buttongetstarted:hover span:after {
  opacity: 1;
  right: 0;
}

.footer{
	background-image: linear-gradient(-90deg, #10447F, #256774);
    color: floralwhite;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 50px; 
}



#foothead{
    display: inline-block;
    padding-right: 40px;
}


#fsteps {
    color: #888B8D;
}
